<%- include('../partials/header') -%>
<%- include('../partials/topbar') -%>
<%- include('../partials/container') -%>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Staff Applications</div>

                </h5>
            </div>
        </header>

        <hr class="content-box-separator">

        <div>
            <div class="app-content-box">

                <% for (const data of results) { %>
                <% const { userId, username, avatar, discriminator }=data %>
                <div class="app-wrapper">
                    <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.webp?size=512"
                        class="app-img" alt="...">

                    <div class="app-user">
                        <p class="app-username">
                            <%= username %>#<%= discriminator %>
                        </p>

                        <p class="app-age app-section">
                            <strong>Age:</strong>
                            <%= data.age %>
                        </p>
                        <p class="app-region app-section">
                            <strong>Region:</strong>
                            <%= data.region %>
                        </p>
                        <p class="app-about app-section">
                            <strong>About:</strong>
                            <%= data.about %>
                        </p>
                        <br>
                        <p class="app-timestamp app-section">
                            <i><%= new Date(data._id.getTimestamp()).toUTCString() %></i>
                        </p>
                    </div>
                </div>
                <% } %>
            </div>

        </div>
    </div>
    <!--  -->

    <%- include('../partials/footer') -%>