<%- include('../partials/header') -%>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Staff Applications</div>

                </h5>
            </div>
        </header>

        <hr class="content-box-separator">

        <div>
            <div class="app-content-box">

                <% for (const data of results) { %>
                <% const { userId, username, avatar, discriminator }= data %>
                <div class="app-wrapper">
                    <div class="app-user">
                        <i class="fa-solid fa-plus app-user-expand"></i>
                        <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.webp?size=512" onerror="this.src='https://cdn.discordapp.com/embed/avatars/0.png'" class="app-img">
                        <p class="app-username">
                            <%= username %>#<%= discriminator %>
                        </p>
                    </div>

                    <div class="app-body">
                        <p class="app-question">Age:</strong>
                        <p class="app-answer"><%= data.age %></p>
                        <p class="app-region app-section">
                        <p class="app-question">Region:</strong>
                        <p class="app-answer"><%= data.region %></p>
                        <div class="app-about app-section">
                            <p class="app-question">How long have you been a member of ForTheContent?:</p>
                            <p class="app-answer"><%= data.duration %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">Tell us a little more about yourself and why you are applying for
                                staff:
                            </p>
                            <p class="app-answer"><%= data.about %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">Do you have previous experience moderating a Discord server?:</p>
                            <p class="app-answer"><%= data.q1 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">Would you say you're reasonable and fair when it comes to decision
                                making?:
                            </p>
                            <p class="app-answer"><%= data.q2 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">Are you fimiliar with the ForTheContent server rules and Discord's
                                ToS
                                and
                                Community Guidelines?:</p>
                            <p class="app-answer"><%= data.q3 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">You've just opened Discord and are on the ForTheContent server, what
                                do
                                you
                                do next?:</p>
                            <p class="app-answer"><%= data.q4 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">If a user just posted self promotion content in a channel that
                                doesn't
                                allow
                                it, what would you do?:</p>
                            <p class="app-answer"><%= data.q5 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">If a user is spamming, what would you do?:</p>
                            <p class="app-answer"><%= data.q6 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">A user just posted indecent/nude content, what do you do?:</p>
                            <p class="app-answer"><%= data.q7 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">Someone disagrees with your opinion on a random subject, how do you
                                treat
                                them?:</p>
                            <p class="app-answer"><%= data.q8 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">A user joins that claims they are 12 years old, what do you do?:</p>
                            <p class="app-answer"><%= data.q9 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">You've had to repeatedly ask the same user to stop breaking a rule,
                                how
                                should you proceed?:</p>
                            <p class="app-answer"><%= data.q10 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">A new user has joined the server and isn't sure how Discord or
                                ForTheContent
                                work, what should you do?:</p>
                            <p class="app-answer"><%= data.q11 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">A new question has been asked in the #help-and-advice channel, but
                                you're
                                unsure how to help, what should you do?:</p>
                            <p class="app-answer"><%= data.q12 %></p>
                        </div>
                        <div class="app-about app-section">
                            <p class="app-question">You think someone might be breaking the rules, but you're unsure,
                                what
                                do
                                you do next?:</p>
                            <p class="app-answer"><%= data.q13 %></p>
                        </div>
                        <div class="app-timestamp app-section">
                            <i><%= new Date(data._id.getTimestamp()).toUTCString() %></i>
                        </div>
                    </div>
                </div>

                <div class="app-votes">
                    <div class="votes-wrapper">
                        <button class="vote-yes" onclick="staffAppVote('<%= data._id %>', 'yes')" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                            title="<%= data.hasVotedYes.slice(',').join(', ') %>">
                            <i class="bi bi-check-circle"></i> <p class="app-vote-yes-count-<%= data._id %>"><%= data.hasVotedYes.length %></p>
                        </button>
                        <button class="vote-no" onclick="staffAppVote('<%= data._id %>', 'no')" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                            title="<%= data.hasVotedNo.slice(',').join(', ') %>">
                            <i class="bi bi-x-circle"></i> <p class="app-vote-no-count-<%= data._id %>"><%= data.hasVotedNo.length %></p>
                        </button>
                    </div>
                </div>

                <% } %>
            </div>
        </div>

    </div>
</div>
<!--  -->

<%- include('../partials/footer') -%>