<%- include('../partials/header') -%>
<%- include('../partials/topbar') -%>
<%- include('../partials/container') -%>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Message Deletes</div>
                </h5>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <section class="pagination-button" onclick="navigateDownPagination()">
                    <i class="fa fa-arrow-left"></i>
                </section>
                <p class="page-count">
                    <%= page %>
                </p>
                <section class="pagination-button" onclick="navigateUpPagination()">
                    <i class="fa fa-arrow-right"></i>
                </section>
            </div>
        </header>

        <hr class="content-box-separator">

        <div>
            <div class="content-box-content-table">

                <!-- Table -->
                <div class="pagination-math">
                    <code><%= skip + 1 %></code> to <code><%= limit * page %></code> of
                    <code><%= total %></code>
                </div>

                <% results.slice(0, 5).forEach(entry=> { %>

                <div class="table-wrapper">
                    <div class="table-user-wrapper">
                        <p class="table-user">
                            <%= entry.username || 'null' %>
                        </p>
                        <p class="table-userId">ID:<%= entry.userId || 'null' %>
                        </p>
                    </div>
                    <div class="table-data-wrapper">
                        <p class="table-data">
                            <%= entry.message || 'null' %>
                        </p>
                        <p><a href="<%= entry.attachment %>" target="_blank"><img class="table-img"
                                    src="<%= entry.attachment %>"></a></p>
                    </div>
                    <div class="table-author-wrapper">
                        <p class="table-author">
                            #<%= entry.channel || 'null' %>
                        </p>
                        <p class="table-timestamp">
                            <%= converTimestampToSimpleFormat(entry.timestamp) || 'null' %>
                        </p>
                        <p class="table-warning-id">
                            <%= entry.type || 'null' %>
                        </p>
                    </div>
                </div>

                <hr class="content-box-separator">

                <% }) %>

            </div>
        </div>
        <!--  -->

    </div>
</div>
<!--  -->

<!-- Timestamp conversion -->
<% function converTimestampToSimpleFormat(timestamp) { %>
<% const t=new Date(timestamp); %>
<% const date=('0' + t.getDate()).slice(-2); %>
<% const month=('0' + (t.getMonth() + 1)).slice(-2); %>
<% const year=t.getFullYear(); %>
<% const hours=('0' + t.getHours()).slice(-2); %>
<% const minutes=('0' + t.getMinutes()).slice(-2); %>
<% const seconds=('0' + t.getSeconds()).slice(-2); %>
<% const time=`${date}/${month}/${year}, ${hours}:${minutes}:${seconds}`; %>
<% return time; %>
<% } %>

<%- include('../partials/footer') -%>