<%- include('../partials/header') -%>
<%- include('../partials/topbar') -%>
<%- include('../partials/container') -%>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Message Deletes</div>
                </h5>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <section class="pagination-button" onclick="navigateDownPagination()">
                    <i class="fa fa-arrow-left"></i>
                </section>
                <p class="page-count">
                    <%= page %>
                </p>
                <section class="pagination-button" onclick="navigateUpPagination()">
                    <i class="fa fa-arrow-right"></i>
                </section>
            </div>
        </header>

        <hr class="content-box-separator">

        <div>
            <div class="content-box-content-table">

                <!-- Table -->
                <div class="pagination-math">
                    <code><%= skip + 1 %></code> to <code><%= limit * page %></code> of
                    <code><%= total %></code>
                </div>

                <% results.slice(0, 5).forEach(entry=> { %>
                <div class="embed-wrapper embed-deletes">
                    <div class="embed-title">
                        <p class="embed-type">
                            <%= entry.type || 'null' %>
                        </p>

                        <p class="embed-username">
                            <%= entry.username || 'null' %>
                        </p>
                    </div>

                    <div class="embed-content">
                        <p class="embed-reason">
                            <%= entry.message || 'null' %>
                        </p>
                    </div>

                    <div class="embed-footer">
                        #<%= entry.channel || 'null' %> -
                        <%= converTimestampToSimpleFormat(entry.timestamp) || 'null' %>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
        <!--  -->

    </div>
</div>
<!--  -->

<!-- Timestamp conversion -->
<% function converTimestampToSimpleFormat(timestamp) { %>
<% const t=new Date(timestamp); %>
<% const date=('0' + t.getDate()).slice(-2); %>
<% const month=('0' + (t.getMonth() + 1)).slice(-2); %>
<% const year=t.getFullYear(); %>
<% const hours=('0' + t.getHours()).slice(-2); %>
<% const minutes=('0' + t.getMinutes()).slice(-2); %>
<% const seconds=('0' + t.getSeconds()).slice(-2); %>
<% const time=`${date}/${month}/${year}, ${hours}:${minutes}:${seconds}`; %>
<% return time; %>
<% } %>

<%- include('../partials/footer') -%>