<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    <title>Resources - ForTheContent</title>
    <meta name="description" content="A library of learning resources for content creators">
    <meta name="author" content="ForTheContent">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="theme-color" content="#1a1e23">

    <link rel="canonical" href="https://forthecontent.xyz/resources">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Resources - ForTheContent">
    <meta property="og:description" content="A library of learning resources for content creators">
    <meta property="og:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">

    <meta property="og:url" content="https://forthecontent.xyz/">
    <meta property="og:site_name" content="ForTheContent">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Resources - ForTheContent">
    <meta name="twitter:description" content="A library of learning resources for content creators">
    <meta name="twitter:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">
    <meta name="twitter:site" content="@forthecontent">
    <meta name="keywords" content="discord server for content creators, content creator discord server, discord server for small content creators">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://forthecontent.xyz/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://forthecontent.xyz/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://forthecontent.xyz/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://www.delac.io/WOW/css/libs/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- WOW Animation -->
    <script src="https://www.delac.io/WOW/dist/wow.min.js"></script>
    <script>
        wow = new WOW({ mobile: true });
        wow.init();
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="home child__page">
    <!-- Navbar -->
    <%- include('../partials/home/navbar') -%>

    <!-- Header -->
    <div class="main-div">
        <main class="page__content page--transition-fade" data-swup="0">
            <div class="section__bg-color section__bg-cover__sm section hero__promo">
                <div class="hero__container container container--responsive-padding container--very-wide">
                    <div class="hero__promo__wrapper">
                        <div class="hero__promo__text-col content__area">
                            <h1 class="hero__promo__heading js--text-rotation"><span class="sub__text">Resources</span></h1>
                            <div class="component__hero__info hero__info hero__promo__info content__area">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Page body -->
    <div class="wp-block-vbi-section softer-white section__bg-color section body__section">
        <div class="container content__area container--very-wide container--responsive-padding">
            <% if (isStaff || isEditor) { %>
            <button class="button button--secondary button--dense new-post" onclick="window.location='/resources/new'">New Post</button>
            <% } %>
            <div class="wp-block-vbi-two-column-layout row content__area row--center">
                <div class="--reset row row--dense blog__row js--posts-list">

                    <div class="category-wrapper">
                        <ul class="category-list">
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('tutorials'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">tutorials</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('tips-and-advice'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">tips and advice</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('graphics'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">graphics</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('editing'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">editing</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('animation'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">animation</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('news'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">news</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('seo'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">seo</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('tools'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">tools</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('recommendation'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)">recommendation</button>
                            </li>
                            <li class="category-item">
                                <button class="category-item-btn" onclick="fetchMore('all'); $('.category-item-btn').each(() => { $('.category-item-btn').prop('disabled', false) }); $(this).prop('disabled', true)" disabled>everything</button>
                            </li>
                        </ul>
                    </div>

                    <div class="resource-wrapper">
                        <% results.forEach(post => { %>
                        <li class="col col--dense col--md-4 col--sm-6">
                            <a href="/resources/<%= post.slug %>" class="blog__item content__area">
                                <div class="image-box">
                                    <div class="image-animation">
                                        <div class="image image--bg image--ratio-16x9 image--loaded" data-plugin="lazy-image" style="background-image: url('<%= post.image %>');">
                                            <div class="image__cover"></div>
                                            <div class="post-gallery-item-in"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="blog__item__time h5"><%= post.timestamp.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                                <h3 class="blog__item__title"><%= post.title %></h3>
                                <p class="blog__item__snippet"><%= post.snippet %>..</p>
                            </a>
                        </li>
                        <% }) %>
                    </div>

                    <div class="res-pagination">
                        <% if (results.length < 8) { %>
                        <button class="button btn-load-more" onclick="fetchMore()" disabled>No more results</button>
                        <% } else { %>
                        <button class="button btn-load-more" onclick="fetchMore()">Load more</button>
                        <% } %>
                    </div>

                    <div class="res-footer-div"></div>

                    <div class="res-comment">
                        <h3>Suggestions</h3>
                        <p class="comment-sub">Suggest a topic for one of our writers to cover</p>
                        <div class="comment-box">
                            <% if (user) { %>
                            <textarea class="res-comment-box" id="res-comment-box" spellcheck="true"></textarea>
                            <% } else { %>
                            <textarea class="res-comment-box" id="res-comment-box" spellcheck="true" disabled>Sign in to leave a suggestion</textarea>
                            <% } %>
                            <button class="bi bi-send-fill res-comment-btn" onclick="submitComment()" disabled></button>
                        </div>
                    </div>
                    <div class="submit-success">
                        Your suggestion has been submitted
                    </div>

                    <div class="comment-section">
                        <% if (suggestions.suggestions?.length > 0) { %>
                        <% suggestions.suggestions.forEach(suggestion => { %>
                        <div class="comment__info">
                            <div class="div-test">
                                <div class="comment__avatar">
                                    <img src="https://cdn.discordapp.com/avatars/<%= suggestion.userId %>/<%= suggestion.avatar %>.webp" onerror="this.src='https://cdn.discordapp.com/embed/avatars/0.png'" alt="author">
                                </div>
                            </div>

                            <div class="comment__author">
                                <div class="user-time">
                                    <p class="comment-author"><%= suggestion.username %></p>
                                    <div class="timestamp-wrapper">
                                        <p class="comment-timestamp"><%= new Date(suggestion.timestamp).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', day: 'numeric' , month: 'short'}) %></p>
                                        <p class="comment-timestamp"><%= new Date(suggestion.timestamp).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit' }) %></p>
                                    </div>
                                </div>
                                <p class="comment-comment"><%= suggestion.suggestion %></p>
                            </div>
                        </div>
                        <% }) %>
                        <% } else { %>
                        <div style="margin-top: 64px; color: #bebebe">Be the first to make a suggestion</div>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/home/footer') -%>
    <script src="/scripts/resources.js"></script>
    <!-- Share Button -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6302de00a27d877d"></script>
</body>