<%- include('../partials/header') -%>
<%- include('../partials/topbar') -%>
<%- include('../partials/container') -%>

<script>
    const dateArr = '<%- dateArr %>';
    const joinsArr = '<%- joinsArr %>';
    const leavesArr = '<%- leavesArr %>';
    const messagesArr = '<%- messagesArr %>';
    const bansArr = '<%- bansArr %>';
</script>

<div class="content-page-title">
    <p class="content-page-header">Welcome back, <%= username %>
    </p>

    <!-- Content Box -->
    <div class="stat-content-box">
        <div class="content-box-div">
            <div class="stat-content-box-content">
                <i class="fa-solid fa-circle online"></i><p class="stat-title-online">Online</p>
                <p class="member-count">
                    <%= onlineMembers %>
                </p>
            </div>
            <div class="stat-content-box-content">
                <i class="fa-solid fa-circle offline"></i><p class="stat-title-offline">Online</p>
                <p class="member-count">
                    <%= totalMembers %>
                </p>
            </div>
        </div>
        <div class="server-stats">
            <div class="sub-stats">
                <p class="count-title">Text Channels:</p>
                <p class="stat-counts">
                    <%= text_channel_count %>
                </p>
            </div>
            <div class="sub-stats">
                <p class="count-title">Voice Channels:</p>
                <p class="stat-counts">
                    <%= voice_channel_count %>
                </p>
            </div>
            <div class="sub-stats">
                <p class="count-title">Categories:</p>
                <p class="stat-counts">
                    <%= category_count %>
                </p>
            </div>
            <div class="sub-stats">
                <p class="count-title">Roles:</p>
                <p class="stat-counts">
                    <%= role_count %>
                </p>
            </div>
        </div>
    </div>
    <!--  -->
</div>

<!-- Charts -->
<div class="chart-wrapper">
    <div class="joins-chart chart-item">
        <p class="chart-title">Member Joins/Leaves (7 Days)</p>
        <canvas class="chart-canvas" id="joinsChart"></canvas>
    </div>
    <div class="messages-chart chart-item">
        <p class="chart-title">Messages Sent (7 Days)</p>
        <canvas class="chart-canvas" id="messagesChart"></canvas>
    </div>
</div>
<!--  -->

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class" id="box-one">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Command Management</div>
                </h5>
            </div>
            <button class="fa-solid fa-angle-up" id="dash-collapse-one" name="collapse"></button>
        </header>

        <hr class="content-box-separator" id="separator-one">

        <div>
            <div class="content-box-content" id="content-one">
                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/settings/rules';">
                    <div class="button-img-container">
                        <img src="/images/3251560.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Rule</h5>
                    <div class="button-description">Change the rules everywhere they are used on the
                        server</div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!--  -->

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class" id="box-two">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Staff Applications</div>
                </h5>
            </div>
            <button class="fa-solid fa-angle-up" id="dash-collapse-two" name="collapse"></button>
        </header>

        <hr class="content-box-separator" id="separator-two">

        <div>
            <div class="content-box-content" id="content-two">
                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/applications';">
                    <div class="button-img-container">
                        <img src="/images/138849.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Applications</h5>
                    <div class="button-description">View new and old staff applications</div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!--  -->

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class" id="box-three">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Creator Crew</div>
                </h5>
            </div>
            <button class="fa-solid fa-angle-up" id="dash-collapse-three" name="collapse"></button>
        </header>

        <hr class="content-box-separator" id="separator-three">

        <div>
            <div class="content-box-content" id="content-three">
                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/creatorcrew';">
                    <div class="button-img-container">
                        <img src="/images/4880410.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Creator Crew Queue</h5>
                    <div class="button-description">Watch and like your Creator Crew queue videos</div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!--  -->

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class" id="box-four">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Server Logs</div>
                </h5>
            </div>
            <button class="fa-solid fa-angle-up" id="dash-collapse-four" name="collapse"></button>
        </header>

        <hr class="content-box-separator" id="separator-four">

        <div>
            <div class="content-box-content" id="content-four">
                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/warnings';">
                    <div class="button-img-container">
                        <img src="/images/564619.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Warnings</h5>
                    <div class="button-description">A log of warnings issued to members</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/mutes';">
                    <div class="button-img-container">
                        <img src="/images/945154.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Mutes and Timeouts</h5>
                    <div class="button-description">A log of members who have been muted or timed out</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/bans';">
                    <div class="button-img-container">
                        <img src="/images/7195822.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Bans and Unbans</h5>
                    <div class="button-description">A log of members who have been banned or unbanned</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/message-deletes';">
                    <div class="button-img-container">
                        <img src="/images/3221897.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Message Deletes</h5>
                    <div class="button-description">A log of channel messages that have been deleted</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/blacklists';">
                    <div class="button-img-container">
                        <img src="/images/2165366.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Blacklisted Messages</h5>
                    <div class="button-description">A log of blacklisted messages</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/logs/commands';">
                    <div class="button-img-container">
                        <img src="/images/4248402.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Command Usage</h5>
                    <div class="button-description">A log of commands that have been used in the server
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!--  -->

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class" id="box-five">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Leaderboard</div>
                </h5>
            </div>
            <button class="fa-solid fa-angle-up" id="dash-collapse-five" name="collapse"></button>
        </header>

        <hr class="content-box-separator" id="separator-five">

        <div>
            <div class="content-box-content" id="content-five">
                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/leaderboards/ranks';">
                    <div class="button-img-container">
                        <img src="/images/490576.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Ranks</h5>
                    <div class="button-description">A leaderboard for the server ranks</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/leaderboards/messages';">
                    <div class="button-img-container">
                        <img src="/images/2190552.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Messages</h5>
                    <div class="button-description">A leaderboard for the server messages</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/leaderboards/lastletter';">
                    <div class="button-img-container">
                        <img src="/images/773228.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Last Letter Game</h5>
                    <div class="button-description">A leaderboard for the last letter game</div>
                </div>

                <!-- Dashboard Button -->
                <div class="content-box-button" onclick="location.href = '/leaderboards/counting';">
                    <div class="button-img-container">
                        <img src="/images/7173821.webp" class="button-img" alt="...">
                    </div>
                    <h5 class="button-title">Counting Game</h5>
                    <div class="button-description">A leaderboard for the counting game</div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!--  -->

<script src="/scripts/charts.js"></script>
<%- include('../partials/footer') -%>