<%- include('partials/header') -%>
    <%- include('partials/topbar') -%>
        <%- include('partials/container') -%>

            <div class="content-page-title">
                <p>Welcome, <%= username %>
                </p>
            </div>
            <p class="content-page-description">Choose a category below to view its contents or edit its settings</p>

            <!-- Content Box -->
            <div class="content-box">
                <div class="content-box-div">

                    <!-- Content Box Inner -->
                    <header class="content-box-title-class">
                        <div class="content-box-title-flex">
                            <h5 class="content-box-title-decor">
                                <div class="content-box-title">Command Management</div>

                            </h5>
                        </div>
                    </header>

                    <hr class="content-box-separator">

                    <div>
                        <div class="content-box-content">
                            <div class="content-box-button" onclick="location.href = '/settings/index';">
                                <div class="button-img-container">
                                    <img src="https://cdn-icons-png.flaticon.com/512/281/281760.png" class="button-img">
                                </div>
                                <h5 class="button-title">Index Command</h5>
                                <div class="button-description">Change response values for the index command</div>
                            </div>

                            <div class="content-box-button" onclick="location.href = '/settings/rules';">
                                <div class="button-img-container">
                                    <img src="https://cdn-icons-png.flaticon.com/512/281/281760.png" class="button-img">
                                </div>
                                <h5 class="button-title">Rule Command</h5>
                                <div class="button-description">Change rules everwhere they are used on the server</div>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                </div>
            </div>
            <!--  -->

            <%- include('partials/footer') -%>