<%- include('../partials/header') -%>

<% function numberWithCommas(x) { %>
<% return x?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); %>
<% } %>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Last Letter Game Leaderboard</div>

                </h5>
            </div>
        </header>

        <hr class="content-box-separator">

        <div class="leaderboard">
            <div class="game-record">
                <img class="game-trophy" src="/images/861506.png">
                <p class="game-record-text">Current Record: <%= record %></p>
            </div>
            <table class="leaderboard-table">
                <tbody>
                    <% for (var i = 0; i < 100; i++) { %>

                    <tr>
                        <td class="rank">
                            <%= i + 1 %>
                        </td>
                        <td class="nick">
                            <img class="leaderboard-avatar"
                                src="https://cdn.discordapp.com/avatars/<%= dataArr[i].userId %>/<%= dataArr[i].avatar %>.webp">
                            <%= dataArr[i].username %>
                        </td>
                        <td class="message-count"><strong>Score</strong>
                            <%= numberWithCommas(dataArr[i].correctCount) %>
                        </td>
                    </tr>

                    <% } %>
                </tbody>
            </table>
        </div>

    </div>
</div>

<%- include('../partials/footer') -%>