<%- include('../partials/header') -%>
<%- include('../partials/guest/guest_topbar') -%>
<%- include('../partials/container') -%>

<% function numberWithCommas(x) { %>
<% return x?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); %>
<% } %>

<!-- Content Box -->
<div class="content-box">
    <div class="content-box-div">

        <!-- Content Box Inner -->
        <header class="content-box-title-class">
            <div class="content-box-title-flex">
                <h5 class="content-box-title-decor">
                    <div class="content-box-title">Rank Leaderboard</div>

                </h5>
            </div>
        </header>

        <hr class="content-box-separator">

        <div class="leaderboard">
            <table class="leaderboard-table">
                <tbody>
                    <% for (const data of results) { %>

                    <tr>
                        <td class="rank">
                            <%= data.rank %>
                        </td>
                        <td class="level"><strong>Rank</strong>
                            <p class="level-number"><%= numberWithCommas(data.level) %></p>
                        </td>
                        <td class="nick">
                            <img class="leaderboard-avatar"
                                src="https://cdn.discordapp.com/avatars/<%= data.id %>/<%= data.avatar %>.webp">
                            <%= data.username %>
                        </td>
                        <td class="message-count"><strong>Messages</strong>
                            <%= numberWithCommas(data?.msgCount) %>
                        </td>
                        <td class="xp"><strong>XP</strong>
                            <%= numberWithCommas(data?.xp) %>
                        </td>
                    </tr>

                    <% } %>
                </tbody>
            </table>
        </div>

    </div>
</div>

<%- include('../partials/guest/guest_footer') -%>