<%- include('../partials/header') -%>
<%- include('../partials/container') -%>

<input class="ccqueue-search" type="text" id="ccqueue-search" onkeyup="ccqueueSearch()" placeholder="Filter by value">

<table class="ccqueue-table" id="ccqueue-table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Video ID</th>
            <th>Video Author</th>
            <th>Timestamp</th>
            <th>Notified (Day 3)</th>
            <th>Notified (Day 5)</th>
            <th></th>
        </tr>
    </thead>
    <% for (const data of results) { %>
    <tbody>
        <tr id="<%= data._id %>">
            <td><%= data.userId %> </td>
            <td><%= data.videoId %> </td>
            <td><%= data.videoAuthor %> </td>
            <td><%= converTimestampToSimpleFormat(parseInt(data.timestamp)) %> </td>
            <td><%= data.notified3 %> </td>
            <td><%= data.notified5 %> </td>
            <td>
                <div class="table-delete">
                    <button class="<%= data._id %>-delete-button" onclick="deleteCCVideo('<%= data._id %>')">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
    <% } %>
</table>

<!-- Removed Success Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="removedSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-light bg-primary">
            Entry deleted
        </div>
    </div>
</div>


<!-- Timestamp conversion -->
<% function converTimestampToSimpleFormat(timestamp) { %>
<% const t=new Date(timestamp); %>
<% const date=('0' + t.getDate()).slice(-2); %>
<% const month=('0' + (t.getMonth() + 1)).slice(-2); %>
<% const year=t.getFullYear(); %>
<% const hours=('0' + t.getHours()).slice(-2); %>
<% const minutes=('0' + t.getMinutes()).slice(-2); %>
<% const seconds=('0' + t.getSeconds()).slice(-2); %>
<% const time=`${date}/${month}/${year}, ${hours}:${minutes}:${seconds}`; %>
<% return time; %>
<% } %>

<%- include('../partials/footer') -%>