<%- include('../partials/header') -%>
<%- include('../partials/container') -%>

<script>
    $(function () {
        $("td[colspan=3]").hide();
        $("td[colspan=3]").find("p").hide();
        $("td[colspan=3]").find("li").hide();
        $("table").click(function (event) {
            event.stopPropagation();
            var $target = $(event.target);
            $target.closest("tr").next().find("td[colspan=3]").slideToggle(150);
            $target.closest("tr").next().find("p").slideToggle(150);
            $target.closest("tr").next().find("li").slideToggle(150);
            $target.closest("tr").find("i").toggleClass("fa-plus");
            $target.closest("tr").find("i").toggleClass("fa-minus");
        });
    });
</script>

<input class="acp-user-search" type="text" id="acp-user-search" onkeyup="userSearch()" placeholder="Filter by username">

<div class="tgrid" id="tgrid">
    <% for (const data of results) { %>
    <% const {dataLog} = data; %>
    <table class="acp-user-table" id="<%= data.username %>">
        <tbody>
            <tr>
                <td>
                    <div class="user-title">
                        <i class="fa-solid fa-plus user-expand"></i>
                        <p class="t-user"><%= data.username %> </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <strong>ID:</strong>
                        <%= data.userId %>
                    </p>
                    <p>
                        <strong>Discriminator:</strong>
                        #<%= data.discriminator %>
                    </p>
                    <p>
                        <strong>Tag:</strong>
                        <%= data.username %>#<%= data.discriminator %>
                    </p>
                    <p>
                        <strong>Avatar:</strong>
                        <a href="https://cdn.discordapp.com/avatars/<%= data.userId %>/<%= data.avatar %>.webp"
                            target="_blank">https://cdn.discordapp.com/avatars/<%= data.userId %>/<%= data.avatar %>.webp</a>
                    </p>
                    <p>
                        <strong>Roles:</strong>
                    <ul class="ul-roles">
                        <% data.roles.forEach(role => { %>
                        <li class="li-roles">
                            <%= role %>
                        </li>
                        <% }) %>
                    </ul>
                    </p>
                    <p>
                        <strong>Last Visit:</strong>
                        <%= new Date(dataLog[dataLog?.length - 1]?.timestamp).toLocaleDateString("en-US", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %>
                        <i>(IP Address: <%= dataLog[dataLog?.length - 1]?.ip %>)</i>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <% } %>
</div>

<%- include('../partials/footer') -%>